@font-face {
  font-family: Roboto;
  src: url(../public/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: RobotoBk;
  src: url(../public/fonts/Roboto-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto;
  background-color: darkgrey;
}

/* Theme  Dark/Light-Mode*/

.themeBtn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.theme {
  height: 100%;
}

.theme--dark {
  background-color: #222;
}

.pokeCard.theme--dark {
  background-color: teal;
}

/* Popup */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  width: 70vw;
  background-color: lightblue;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.popup-heading h2 {
  -webkit-text-stroke: 5px #2c72b8;
  font-size: 50px;
  font-family: RobotoBk;
  font-weight: 1000;
  line-height: 51px;
  text-transform: uppercase;
  color: #ffcb05;
}

.types-container {
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.typesBtn {
  background-color: transparent;
  border: none;
  padding: 2px;
}

.closeBtn {
  background-color: transparent;
  border: none;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header a {
  text-decoration: none;
  width: 67.5%;
}

.logo {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

nav {
  max-width: 50%;
  min-width: 45%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}
nav input {
  padding: 8px;
  border-radius: 10px;
  border: none;
}

.burgerBtn {
  background-color: transparent;
  border: none;
}
/* HomePage */

.main-container {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 5rem;
  margin: 5rem auto;
  justify-items: center;
}

.pokeCard {
  width: 12rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-color: yellow;
}
.pokeCard img {
  object-fit: contain;
  max-width: 100%;
  margin-top: -6vh;
  padding: 2%;
}
.pokeCard-Detail {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  border-top: yellow solid 3px;
  padding-top: 50px;
  display: flex;
}



.github-link {
  height: 40px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  color: black;

  &:hover {
      background: yellow;
      color: black;
      text-align: center;
     }

  &:hover:before {
      transform: scale(1);
  }
}